html, body, iframe,
h1, h2, h3, h4, h5, h6, p, ol, ul, form, dl, dd, td, table, tr {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei", SimHei, "Microsoft JhengHei", "STHeiti ";
  font-size: 14px;
}

img {
  border: none;
}

input[type='button'], input[type='submit'], input[type='reset'], button {
  cursor: pointer;
  outline: none;
}

/* HTML5 display-role reset for older browsers */
article, footer, header, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  outline: none;
  color: #919191;
}
body{
  padding-bottom: 56px;
  padding-top: 40px;
  background-color: #fcfcfc;
}
/************************************/
.icon-box .iconfont{
  font-size: 25px;
}
.icon-box{
  padding-bottom: 5px;
}

/*************list****************/
.list-card{
  display: block;
  position: relative;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}
.list-card:after{
  display: table;
  content: "";
  clear: both;
}
.list-card .row-left{
  float: left;
  width: 60px;
  height: 60px;
}
.list-card .row-left img{
  display: block;
  width: 100%;
  height: 100%;
  border-radius:50% ;
  box-sizing: content-box;
  border: 1px solid #ddd;
}
.name-row{
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
}
.phone-row{
  font-size: 16px;
  line-height: 30px;
}
.row-right{
  margin-left: 70px;
}
.right-icon{
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  right: 0;
  top: 50%;
  margin-top: -10px;
  font-size: 20px;
}
.list-item{
  padding: 0 15px;
}
.search-form{
  padding: 10px ;
  background: #fafafa;
}
.search-form .form-group{
  margin-bottom: 0;
}
/***************add-form****************/
.img-box{
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 5px;
}
.img-box img{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #ddd;
}
.btn-blue{
  box-sizing: border-box;
  width: 100%;
  line-height: 30px;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 4px;
  background: #588db8;
  outline: none;
  border: none;
  color: #fff;
}
.btn-red{
  box-sizing: border-box;
  width: 100%;
  line-height: 30px;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 4px;
  background: #ed605f;
  outline: none;
  border: none;
  color: #fff;
  width: 100%;
  line-height: 30px;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 4px;
}
.btn-back{
  display: block;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #848484;
  color: #848484;
  text-align: center;
}
.add-form .mui-button-row{
  padding: 5px;
  height: auto !important;
}
.add-form .mui-button-row:first-child{
  padding-top: 15px;
}
.add-form .mui-btn-block{
  padding: 5px;
}
